body{
	background-color: #DE2C22;
}
ul{
	position: absolute;
	top: 200px;
	left: 200px;
	z-index: 20;

}
li{
	text-decoration: none;
	color:white;
}
h1{
	position: absolute;
	top: 120px;
	left: 550px;
	text-align: center;
	font-size: 4em;
	margin:0;
}
img{

	position: absolute;
	left: 200px;
	top: 200px;
	margin: 0;
	width: 1280px;
}
section{
	float: right;
	border:solid 2px #222;
	background-color: #F7B142;
    width: 363px;
    height: 347px;
    margin: 0;
}
section.uno{
	position: absolute;
	text-indent: 20px;
	bottom: 410px;
	left: 1504px;
}
section.dos{
	position: absolute;
	text-indent: 20px;
	left: 1504px;
	bottom: 60px;
}
h2{
	margin-left: 15px;
	padding-right: 100px;
	margin-bottom: -3px;

}

.particula{
	position: relative;
	left: -10px;
	top: -9px;
	width: 35%;
	float: right;
}

footer{
	position: absolute;
	text-align: center;
	top: 930px;
	left: 200px;
	background-color: black;
	color: white;
	height: 20px;
	width: 1700px;
}
hr{
	position: relative;
	bottom: 8px;
	margin-left: 10px;
	border:double #E57F30;
}
p{
	margin: 2px;
	margin-left: 10px;
	text-align: justify;
}

ul{
	list-style-type: none;
}

@media only screen and (max-width: 869px)
{
	ul{
	list-style: none;
	position: relative;
	padding: 20px;
	top: 55px;
	left: 0px;
	margin: 0;
	background-color: black;
	width: 700px;
}
ul li{
	display: inline-block;
	color: white;
	font-size: 20px;
	margin-right: 80px;
	margin-left: 20px;
}
h1{
	width: 670px;
	margin: 0;
	background-color: #DE2C22;
	position: relative;
	top:50px;
	left: 30px;
	text-align: center;
	font-size: 4em;
	margin:0;
}
img{
	position: absolute;
	top: 200px;
	left: 0px;
	margin: 0;
	width: 750px;
}
section{
	float: right;
	border:solid 2px #222;
	background-color: #F7B142;
    width: 353px;
    height: 257px;
    border-radius: 1em 1em 1em 1em/ 1em 1em 1em 1em;
}
section.uno{
	position: absolute;
	text-indent: 20px;
	top: 625px;
	left: 20px;

}
section.dos{
	position: absolute;
	text-indent: 20px;
	top: 625px;
    left: 400px;
}
h2{
	margin-left: 15px;
	padding-right: 100px;
	margin-bottom: -3px;

}
.particula{
	position: relative;
	width: 35%;
	height: 35%;
	top: -10px;
}


footer{
	position: relative;
	text-align: center;
	top: 750px;
	left: 48px;
	background-color: black;
	color: white;
	width: 760px;
	height: 20px;

}
hr{
	position: relative;
	bottom: 8px;
	margin-left: 10px;
	border:double #E57F30;
}
p{
	margin: 2px;
	margin-left: 10px;
	text-align: justify;
}
}

@media only screen and (max-width: 575px)
{
	ul{
	list-style: none;
	position: relative;
	padding: 20px;
	top: 80px;
	margin: 0;
	background-color: black;
	width: 840px;
}
ul li{
	display: inline-block;
	color: white;
	font-size: 30px;
	margin-right: 40px;
	margin-left: 40px;
}
h1{
	width: 930px;
	margin-bottom: 60px;
	background-color: #DE2C22;
	position: relative;
	top:80px;
	text-align: center;
	font-size: 4em;
	margin:0;
}
img{
	position: relative;
	top: 80px;
	margin: 0;
}
section{
	float: right;
	border:solid 2px #222;
	background-color: #F7B142;
    width: 823px;
    height: 207px;
    border-radius: 1em 1em 1em 1em/ 1em 1em 1em 1em;
}
section.uno{
	position: absolute;
	text-indent: 20px;
	top: 680px;
    left: 50px;
}
section.dos{
	position: absolute;
	text-indent: 20px;
	top: 900px;
    left: 50px;
}
h2{
	margin-left: 15px;
	padding-right: 100px;
	margin-bottom: -3px;

}

.particula{
	position: absolute;
	top: 110px;
	left: 680px;
	width: 20%;
	height: 40%;
	float: right;
}

footer{
	position: relative;
	text-align: center;
	top: 560px;
	left: 48px;
	background-color: black;
	color: white;
	width: 810px;
	height: 20px;

}
hr{
	position: relative;
	bottom: 8px;
	margin-left: 10px;
	border:double #E57F30;
}
p{
	margin: 2px;
	margin-left: 10px;
	text-align: justify;
}

}
